body{
    margin: 0;
    padding: 0;
}

.galery{
    margin: 20px;
    columns: 4;
    column-gap: 20px;
}

.galery img{
    margin-bottom: 15px;
    width: 100%;
    border-radius: 7px;
    transition: transform 0.3s ease;
}.galery img:hover {
    transform: scale(1.01);
}